<div class="row">
    <div class="col-12 center">
        <div id="photo" class="center"></div>
        <span id="userName"></span>
        <i class="far fa-envelope" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></i>

    </div>
</div>

<div class="row">
    <div class="col profile-data profile-icon">
        <i class="far fa-envelope"></i>
        <span class="infoProfile" id="userEmail"></span>
    </div>
</div>
<div class="row">
    <div class="col profile-data profile-icon">
        <i class="fas fa-globe-americas"></i>
        <i class="far fa-edit profile-icon" id="enabledCountry"></i>

    </div>
</div>