.signup-form {
  margin-top: 40px;
}

.signup-form-body {
  padding: 10px;
  background: white;
}

.signup-form-content-control {
  margin: 10px;
}

.signup-form-control {
  width: 100%;
}

.signup-form-submit-button {
  background: greens ;
  color: green;
  height: 50px;
}

.signup-prefix-icon {
  margin-right: 10px;
}

.signup-form-footer {
  margin: 0;
}

.signup-forgot-password-container {
  margin: 0;
}

.signup-forgot-password-button {
  color: green;
}

.signup-container {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.signup-text {
  color: green;
}

.signup-button {
color: green ;
}
