.face-button {
    margin-top: 5px;
    background: #4267b2 !important;
    border-bottom: 1px solid #29487d;
}

.fa-facebook-f:before {
    content: "\f39e";
    margin: 7px;
    /* size: b5; */
}

.fa-google:before {
    content: "\f1a0";
    margin: 9px;
}

.google-button {
    margin-top: 5px;
    background: red !important;
}

.start-up-main-container {
    background: #fff;
    height: 100%;
    overflow: auto;
}

.start-up-main-panel {
    margin: auto;
    width: 80%;
    max-width: 300px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.start-up-main-image {
    display: flex;
    justify-content: center;
}

.start-up-image {
    height: 60px;
}

.login-form {
    margin-top: 40px;
}

.login-form-body {
    padding: 10px;
    background: fff;
}

.login-form-content-control {
    margin: 10px;
}

.login-form-control {
    width: 100%;
}

.login-form-submit-button {
    background: green;
    color: #fff;
    height: 35px;
}

.login-prefix-icon {
    margin-right: 10px;
}

.login-form-footer {
    margin: 0;
}

.signup-container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.signup-text {
    color: green;
}

.signup-button {
    color: green;
    margin-left: 7px;
}