<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 mx-auto">
      <div class="form-group login-form">
        <input id="txtEmail" type="email" class="form-control pd" placeholder="Email" required="required">
        <input id="txtPassword" type="password" class="form-control pd" placeholder="Password" required="required">
        <div class="row">
          <div class="col-6">
            <button type="submit" id="btnLogin" class="btn btn-primary inline  full  green-one" onclick="loginWithFirebase()">Log in</button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary inline full green-one" onclick="registerWithFirebase()">Registrarse</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary inline pd full green-two" onclick="facebookLoginwithFireBase()">
              <i class="fab fa-facebook-f"></i> Sign in facebook</button>
          </div>
          <div class="col-12">
            <button class="btn btn-primary inline pd full green-two" onclick="googleLoginwithFireBase()">
              <i class="fab fa-google"></i> Sign in google</button>
          </div>
        </div>

        <div id="message"></div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
