<div class="row postTop">
    <div class="col-auto foto">
        <img class="rounded-circle shadow-sm border border-white" width="40" src="{{(user | async)?.photoUrl}}">
    </div>
    <div class="col-9">
        <h4>{{(user | async)?.displayName}}</h4>
    </div>
</div>
<div class="row">
    <div class="col" id="container-post">
        <form [formGroup]="editContent" (ngSubmit)="editPost(postId)">
            <div *ngIf="post.image" class="row postImageDiv">
                <div class="col">
                    <img class="img-post" src="{{post.image}}">
                </div>
            </div> `
            <textarea #content formControlName="content" class="col-12 col-md-12" [attr.disabled]="enableEditPost ? '' : null" [style.height.px]="post.contenido.length"></textarea>
            <div class="d-flex justify-content-between align-items-center box-icons">
                <span>{{post.time}}</span>
                <span><i class="fas fa-thumbs-up iconPost " (click)="addLike(postId, post.likes) "></i>{{post.likes}}</span>
                <i class="far fa-edit iconPost " (click)="enableEdit() "></i>
                <i class="far fa-trash-alt iconPost " (click)="deletePost(postId) "></i>
            </div>
            <button *ngIf="!enableEditPost" type="submit">editar</button>
        </form>
    </div>
</div>