.post {
    background-color: #f6f3f3;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 1rem;
    color: #4E4D53;
    text-align: left;
}

.post h4 {
    font-weight: bold;
}

.post textarea {
    max-height: 180px;
    min-height: 50px;
    background: none;
    border: none;
    padding-top: 0.5rem;
}

.img-post {
    width: 100%;
    border: 9px solid #fff;
}

.time {
    font-size: 1rem;
}

.profile-photo {
    border: 3px solid #fff;
}

#container-post button {
    border: 1px solid #fff;
    padding: 5px 30px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: #82b43f;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.iconPost {
    color: #82b43f;
}

.rol {
    border-radius: 5px;
    background-color: #e13857;
    font-size: 1.2rem;
    padding: 3px;
    color: #ffffff;
}