<div class="row postTop">
    <div class="col-auto foto">
        <a href="" class="commentName mr-0"><img class="profile-comment" width="30" src="../../assets/img/user-default.png"></a>
    </div>
    <div class="col-9">
        <h4>Nombre</h4>
        <h6>rol</h6>
    </div>
</div>
<div class="row">
    <div class="col" id="container-post">
        <div class="row postImageDiv">
            <div class="col">
                <img class="img-post" src="../../assets/img/image-4.jpg">
            </div>
        </div>
        <textarea id="" class="col-12 col-md-12" style="" disabled>Hola, este es el contenido del post.</textarea>
        <div class="caja-botones d-flex justify-content-between align-items-center">
            <span>12 agosto</span>
            <span><i class="fas fa-thumbs-up iconPost" onclick=""></i>9</span>
            <i class="far fa-edit iconPost" id="" onclick=""></i>
            <i class="far fa-trash-alt iconPost" id="" onclick=""></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>