<div class=" barra-lateral-izquierda" id="barra-lateral-izquierda">
  <nav>
      <a routerLink="/home/perfil" class="enlaces">
          <i class="fas fa-user"></i>Perfil</a>
      <a href="users.html" class="enlaces">
          <i class="fas fa-users"></i>Lista de Usuarios</a>
      <a href="mensajes.html" class="enlaces">
          <i class="fas fa-envelope"></i>Mensajes</a>
      <a href="#" onclick="logoutWithFireBase()" class="enlaces">
          <i class="fas fa-sign-out-alt"></i>Logout</a>
  </nav>
  <div class="imagenes-lateral col d-block">
      <h3 id="title-imagenes">Publicidad</h3>
      <div class="images">
          <a href="#">
              <img src="https://estephanyc.github.io/scl-2018-05-bc-core-pm-socialnetwork/img/image-1.jpg" width="150" alt="">
          </a>
          <a href="#">
              <img src="https://estephanyc.github.io/scl-2018-05-bc-core-pm-socialnetwork/img/image-2.jpg" width="150" alt="">
          </a>
          <a href="#">
              <img src="https://estephanyc.github.io/scl-2018-05-bc-core-pm-socialnetwork/img/image-3.jpg" width="150" alt="">
          </a>
          <a href="#">
              <img src="https://estephanyc.github.io/scl-2018-05-bc-core-pm-socialnetwork/img/image-4.jpg" width="150" alt="">
          </a>
          <a href="#">
              <img src="https://estephanyc.github.io/scl-2018-05-bc-core-pm-socialnetwork/img/image-5.jpg" width="150" alt="">
          </a>

          <a href="" class="fondo-enlace d-md-none" id="fondo-enlace"></a>

      </div>
  </div>
</div>
