<div class="body">
    <header>
        <div class="container">
            <div class="row" id="profile">
                <div class="col-4 col-md-3 logo">
                    <img src="../assets/img/logo.png" alt="">
                </div>
                <div class="col col-md-8 logo" *ngIf="authService.user">
                    <span>Bienvenido : {{authService.user.email}}</span>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-md-3 barra-lateral-izquierda">
                <div class="mat-app-background basic-container">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
            <div class="col-md-6 mx-auto mt-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>