.body {
  background-color: #f0f1ef;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  background: #fff;
  padding: 8px 0;
  font-size: 16px;
}

header div #profile {
  padding-top: 10px;
  text-align: right;
}

.logo img {
  height: 30px;
  margin: 0 8px
}

.home-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container{
  left: 0;
}

.home-toolbar {
  z-index: 2;
}

.home-sidenav-container {
  flex: 1;
}

.mat-drawer {
  background-color: green;
  color: #e3f2d3;
  padding: 3rem;
}


