<div class="row publicar">
    <div class="col">
        <form [formGroup]="postForm" (ngSubmit)="addPost()">
            <textarea #description formControlName="content" placeholder="¿Qué te gustaría publicar?"></textarea>
            <input class="inputfile" id="file" type="file" formControlName="imageInput" (change)="uploadFile($event)" />
            <!-- <label for="file">
  <i class="fas fa-image"></i>
</label> -->
            <p *ngIf="currentUploadProgress > 0">{{currentUploadProgress}}</p>
            <button type="submit" id="btn-publicar" [disabled]="!postForm.valid">Publicar</button>
        </form>
    </div>
</div>